@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

html{
    font-size: 2.5vw;
    overflow: hidden;
}

a{
    text-decoration: none;
}

.hidden {
    display: none;
}

body {
    font-family: Verdana;
    font-weight: 250;
    background-color: #ffffff;
    height: 100vh;
}

header {
    background-color: #7EA4EB;
    display: flex;
    padding: 0rem 2rem;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    color: #FFFFFF;
    font-family: Dosis;
    font-size: 3rem;
}

header div{
    display: flex;
    gap: 2rem;
    align-items: center;
    width: 80%;
}

header input{
    width: 35rem;
    height: min-content;
    padding: 0.6rem;
    border: none;
    border-radius: 3rem;
    font-size: 1rem;
    box-sizing: border-box;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.usuario{
    width: 2rem;
    height: 2rem;
    padding: 0.5rem;
    border-radius: 100rem;
    background-color: rgb(202, 202, 202);
}

.usuario:hover{
    cursor: pointer;
}

#search-input::placeholder { 
    color: #999;
}

main {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    height: 88%;
    padding: 0;
}

#places-head{
    margin: 1rem 1.5rem;
}

#places-div{
    margin: 0 1rem;
}

.places-list{
    padding: 0;
    width: 100%;
    overflow-y: auto;
    p{
        margin: 1rem 1.5rem;
    }
}

.places-list h2 {
    color: #555;
    font-size: 1.5rem;
    margin-bottom: 0;
}

.place-card {
    background-color: #e6e5e5;
    border-radius: 1rem;
    padding: 1.2rem 1.5rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.place-flex{
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: space-between;
}

.place-info h3 {
    color: #333;
    font-size: 1.2rem;
    margin: 0 0 0.5rem 0;
}

.place-info p {
    margin: 0 0 0.5rem 0;
    font-size: 0.9rem;
    color: #777;
}

.tags-container{
    display: flex;
    gap: 0.8rem;
    margin-top: 0.5rem;
}

.tags-container span{
    background-color: #EEF3FE;
    color: #777;
    padding: 0.4rem;
    border-radius: 15px;
    font-size: 0.8rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.btn-container button{
    padding: 0.8rem 1.6rem;
    background-color: #7EA4EB;
    color: white;
    border-radius: 1rem;
    outline: none;
    border: none;
    font-weight: 300;
    z-index: 10;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.5s;
}

.btn-container button:hover{
    cursor: pointer;
    background-color: #6e90cf;
    transition: all 0.5s;
}

#mapa{
    display: none;
    background-color: rgb(0, 0, 0);
    z-index: 100;
    flex-grow: 2;
}

#Filtros{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: none;
    font-family: Verdana;
    font-size: 1.2rem;
    font-weight: 350;
    border-radius: 10rem;
    padding: 0.5rem;
    width: 100%;
    margin: 1rem 0;
    transition: all 0.2s;
}

#filtros:hover{
    background-color: #777;
    transition: all 0.2s;
    cursor: pointer;
}

footer{
    width: 100%;
    height: 2rem;
    background-color: #7EA4EB;
}

.establecimiento{
    width: 100%;
}

button{
    border: none;
    background-color: #7EA4EB;
    color: #FFFFFF;
    border-radius: 0.5rem;
    padding: 0.5rem 0.8rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.establecimiento h2{
    background-color: #e6e5e5;
    padding: 1rem 1.5rem;
    font-size: 1.3rem;
}

.establecimiento-top{
    background-color: #e6e5e5;
    padding: 0.5rem 1.5rem;
    margin: 1rem 0;
}

.establecimiento-top p{
    margin: 0.3rem 0 0 0;
    color: #999;
    font-weight: 300;
}

.establecimiento-top h2{
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    padding: 0;
}

.establecimiento-etiquetas{
    margin: 1rem 0;
}

.establecimiento-etiquetas span{
    background-color: #EEF3FE;
    color: #777;
    padding: 0.4rem;
    border-radius: 15px;
    font-size: 0.8rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.establecimiento-btn{
    margin-left: 1.5rem;
}

#calificacion {
    display: flex;
    width: 25%;
    justify-content: center;
    img {
        width: 1.2rem;
        height: 1.2rem;
        margin-top: 1rem;
    }   
}

.establecimiento-flex{
    display: flex;
    justify-content: space-between;
    div{
        width: 85%;
    }
}

.comentario{
    background-color: #e6e5e5;
    border-radius: 0.5rem;
    padding: 0.8rem 1rem;
    margin: 1rem 1.5rem 0 1.5rem;
}

.comentario img{
    width: 1.2rem;
    height: 1.2rem;
}

#pfp-usuario{
    width: 1.8rem;
    height: 1.8rem;
    background-color: #ffffff;
    padding: 0.4rem;
    border-radius: 10rem;
}

.comentario-usuario{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.comentario-info{
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #777;
    margin-bottom: 0.5rem;
}

.comentario-container{
    overflow: auto;
}

#cerrar{
    height: 2rem;
    width: 2rem;
    color: #e6e5e5;
    background-color: #7EA4EB;
    border: none;
    padding: 0.3rem 0.55rem;
    border-radius: 1rem;
    text-align: center;
    vertical-align: middle;
    font-weight: 600;
}

dialog{
    width: 100%;
    padding: 1.5rem;
    border: none;
    border-top: #7EA4EB solid 0.5rem;
    font-family: Verdana;
    margin: auto 0;
    h2, h3{
        margin: 0 0 1rem;
        font-weight: 200;
    }
    textarea{
        max-width: 98%;
        width: 98%;
        max-height: 5rem;
        border: #999 0.1rem solid;
        border-radius: 0.5rem;
        margin-bottom: 1rem;
    }
    label{
        margin-bottom: 1rem;
    }
    input{
        margin-bottom: 1rem;
    }
}
.estrellas{
    margin-bottom: 1rem;
    img{
        width: 1.6rem;
    }
}

@media screen and (min-width: 700px){
    html{
        font-size: 14px;
    }
    #mapa{
        display: block;
    }
    .places-list{
        width: 35%;
    }
    dialog{
        width: 30rem;
        border-radius: 0.2rem 0.2rem 1rem 1rem;
        margin: auto;
    }
}
